.dashboard-container {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card-author {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.card-year {
  font-size: 0.9rem;
  color: #777;
}
